.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f8f9fa;
  padding: 20px;
}

.menu {
  padding: 20px;
  border-right: 1px solid #ccc;
}

.draw-area {
  margin-left: 400px; 
  margin-right: 400px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 50px;
}

.brush-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 1px;
  cursor: pointer;
  align-items: center;
}

.eraser-button {
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 1px;
  cursor: pointer;
  align-items: center;
}
.form-group label {
  margin-bottom: 10px;
  display: block;
}

.text-input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}


